<div class="modal-overlay"  (keydown)="closeModalOnKey($event)">
  <div class="modal-header">
    <h2>{{ modalTitle }}</h2>
  </div>
  <div class="modal-container">
    <span class="close" (click)="closeModal()">X</span>
    <div class="modal-content">
      <form>
        <label for="currentEmail">Email Atual:</label>
        <input type="text" id="currentEmail" [(ngModel)]="currentEmail" />

        <label for="newEmail">Novo Email:</label>
        <input type="text" id="newEmail" [(ngModel)]="newEmail" />
      </form>
    </div>
    <div class="modal-buttons">
      <button class="modal-button cancel" (click)="cancel()" tabindex="0">Cancelar</button>
      <button class="modal-button confirm" (click)="confirm()" tabindex="0">Confirmar</button>
    </div>
  </div>
</div>

