.container {
    width: 375px;
    height: 340px;
}

.card-header {
    background-color: #D1105A;
    color: #FBFAFC;
    font-family: 'PoppinsBold';
    font-size: 14px;
    width: 194px;
    height: 38px;
    align-items: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 12px;
    margin-top: 10px;
}

.mat-mdc-card-content:first-child {
    padding-top: 10px;
}

.mat-mdc-card-content:last-child {
    padding-bottom: 0px;
}

.close {
    display: flex;
    flex-direction: row-reverse;
}
