
.container-content {
    padding-top: 56px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
  
  .opportunities-container {
    margin-top: 16px;
    flex-grow: 1; /* Para ocupar o espaço disponível no contêiner pai */
    display: flex;
    max-width: 932px;
    flex-direction: column;
    justify-content: center;
    padding: 0 126px
  }
  
  .opportunities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(428px, 1fr));
    gap: 16px;
    justify-content: center;
  }
  