<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="modal-overlay">
  <div class="modal-header">
    <h2>{{ modalTitle }}</h2>
  </div>
  <div class="modal-container">
    <div class="close" (click)="closeModal()">X</div>
    <div class="modal-content">
      <form autocomplete="off">
        <div class="form-group">
          <label for="currentPassword">Senha atual</label>
          <input type="text" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" />
        </div>
        <div class="form-group">
          <label for="newPassword">Nova senha</label>
          <input type="text" id="newPassword" name="newPassword" [(ngModel)]="newPassword" />
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirmar senha</label>
          <input type="text" id="confirmNewPassword" name="confirmNewPassword" [(ngModel)]="confirmNewPassword" />
          <div *ngIf="!passwordsMatch" class="password-mismatch">As senhas não coincidem.</div>
        </div>
      </form>
    </div>
    <div class="modal-buttons">
      <button class="modal-button cancel" (click)="cancel()" tabindex="0">Cancelar</button>
      <button class="modal-button confirm" (click)="confirm()" tabindex="0">Confirmar</button>
    </div>
  </div>
</div>

