<div class="container">
    <button id="pular" (click)="navigateTo('inicio')">Pular ></button>
    <div class="itens">
        <img src="../../assets/images/logo.png" alt="logo">
        <h2>Bem vinda ao LinkHer</h2>
        <p>"Quebrando barreiras e construindo o futuro: mulheres também são engenheiras, cientistas e inovadoras.”  - Ada Lovelace</p>
        <p>E é com o objetivo de assegurar a permânencia e atuação das mulheres nessas áreas que estamos aqui.</p>
    </div>
    <div class="buttons">
        <div class="space"></div>
        <svg width="80" height="14" viewBox="0 0 80 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="29" cy="7" r="6.5" stroke="#471CA8"/>
            <circle cx="51" cy="7" r="6.5" stroke="#471CA8"/>
            <circle cx="73" cy="7" r="6.5" stroke="#471CA8"/>
            <circle cx="7" cy="7" r="6.5" fill="#471CA8" stroke="#471CA8"/>
        </svg>
        <button (click)="navigateTo('page-two')">Proximo</button>
    </div>
</div>
