/* :host {
  flex: 1;
  margin: 8% auto 0;
} */

.container-content{
  padding-top: 56px;
  align-items: center;
}

.config-content {
  max-width: 448px;
  margin: 0 auto;
  padding: 0 16px;
}

h2 {
  font-family: "PoppinsBold";
  color: #884AB2;
  margin-bottom: 32px;
}

.config-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #884AB2;
  font-family: "PoppinsSemiBold";
}

.option-button {
  margin-left: 10px;
  width: 124px;
  height: 32px;
  border-radius: 8px;
  background-color: #471CA8;
  color: aliceblue;
  font-family: "PoppinsSemiBold";
}

.option-info span {
  margin-left: 8px;
}

hr{
  border-color: #884AB2;
}

.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 238px;
  background-color: #471CA8;
  color: aliceblue;
  font-family: "PoppinsSemiBold";
  border-radius: 8px;
  margin: 88px auto 0
}

.logout-content {
  display: flex;
  gap: 8px;
  align-items: center;
}
