:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Opcional: ajusta a altura para ocupar 100% da altura da viewport */
  }

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: 97px;
    margin-right: 16px;
}

h2 {
    font-family:  "PoppinsBold";
    color: #884AB2;
}

p {
    font-family: "PoppinsSemiBold";
    margin: 0 auto;
}

.Inputs {
    width: 438px;
}

.Inputs input {
    margin: 8px 0;
    border-radius: 8px;
    background-color: #884ab276;
    color: #471CA8;
    border: none;
    width: 438px;
    height: 30px;
}

.CEP {
    width: 438px;

    display: flex;
    flex-direction: row;
}

.CEP div:first-of-type {
    margin-right: 10px;
}

.CEP input {
    margin: 8px 0;
    border-radius: 8px;
    background-color: #884ab276;
    color: #471CA8;
    border: none;
    width: 214px;
    height: 30px;
}

button {
    margin-top: 56px;
    color: #FFFFFF;
    font-family: "PoppinsSemiBold";
    background-color: #D1105A;
    border: none;
    border-radius: 8px;
    width: 140px;
    height: 32px;
}

button:hover {
    color: #D1105A;
    background-color: #FFFFFF;
    border: 1px solid #D1105A;
    border-radius: 8px;
    width: 140px;
    height: 32px;
}