<div class="logo">
    <img src="../../assets/images/logo.png" alt="logo">
    <h2>LinkHer</h2>
</div>

<div class="Inputs">
    <p>Email:</p>
    <input type="text" id="username" name="username" required>

    <p>Senha:</p>
    <input type="password" id="password" name="password" required>
    
    <p>Confirmação de Senha:</p>
    <input type="password" id="confirmpassword" name="confirmpassword" required>
</div>

<div class="CEP">
    <div>
        <p>Estado:</p>
        <input type="text" id="estado" name="estado" required>
    </div>

    <div>
        <p>Municipio:</p>
        <input type="text" id="municipio" name="municipio" required>
    </div>
</div>

<button type="submit">
    Cadastrar
</button>