.container-content {
    display: flex;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
}

.tittle {
    font-family: 'PoppinsSemiBold';
    color: #D1105A;
    margin-bottom: 10px;
    font-size: 24px;
}

.tittle-2 {
    font-family: 'PoppinsRegular';
    margin-top: 15px;
    /* display: flex;
    justify-content: space-between; */
}

.inputs {
    font-family: 'PoppinsRegular';
    font-size: 14px;
    width: 22%;
}

.text-input {
    width: 100%;
    height: 70px;
}

.textarea-input {
    width: 100%;
}

.sel-input {
    width: 100%;
    height: 70px;
}

.buttons {
    display: flex;
}

.save-button {
    width: 105px;
    height: 30px;
    color: #FBFAFC !important;
    background-color: #471CA8;
    font-family: 'PoppinsSemiBold';
    font-size: 13px;
    border-radius: 8px;
    margin: 14px;
}

.cancel-button {
    width: 105px;
    height: 30px;
    color: #FBFAFC !important;
    background-color: #D1105A;
    font-family: 'PoppinsSemiBold';
    font-size: 13px;
    border-radius: 8px;
    margin: 14px;
}

.content-job{
    display: flex;
    width: 100%;
    margin-top: 57px;
    align-items: center;
    flex-direction: column;
}

.checkboxes {
    font-family: 'PoppinsRegular';
    font-size: 14px;
}