:host {
    font-family: 'PoppinsBold';
    font-size: 20px;
}

.spacer {
    flex: 1;
}

.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #FBFAFC;
    color: #D1105A;
    font-weight: 600;
    box-shadow: 0px 5px 5px lightgray;
}

.toolbar img {
    margin: 0 16px;
    transition: transform 0.2s;
}

.toolbar img:hover {
    transform: scale(1.1);
    cursor: pointer;
}