.container-content {
  padding-top: 56px;
  align-items: center;
  font-family: "PoppinsRegular";
}

.h1 {
  font-family: "PoppinsMedium";
  font-weight: medium;
  color: #D1105A;
}
.h2 .h3 {
  font-family: "PoppinsSemiBold";
}
.opportunity-container {
  margin-top: 16px;
  margin: 0 auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  width: 70%;
}

.back {
  display: flex;
  flex-direction: row;
  color: #471CA8;
  cursor: pointer;
}

.row {
  display: flex;
  justify-content: space-between;
  /* flex-grow: 1; */
}

.vamosla-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 238px;
  background-color: #471CA8;
  color: aliceblue;
  font-family: "PoppinsSemiBold";
  border-radius: 8px;
  margin: 88px auto 0;
  cursor: pointer;
}

.checkboxes {
  color: #471CA8;
}

.req {
  margin-left: 3%;
}
