<div class="container">
    <button id="pular" (click)="navigateTo('inicio')">Pular ></button>
    <div class="itens">
        <img src="../../assets/images/oportunidadesicon.png" alt="logo">
        <h2>Oportunidades feitas para você</h2>
        <p>Sua próxima grande conquista pode estar a apenas um clique de distância.</p>
        <p>Com base nas informações do seu perfil e currículo, nós iremos conectar você a oportunidades que se encaixam perfeitamente com seus objetivos de carreira.</p>
    </div>
    <div class="buttons">
        <button (click)="navigateTo('page-two')">Anterior</button>
        <svg width="80" height="14" viewBox="0 0 80 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="29" cy="7" r="6.5" fill="#471CA8" stroke="#471CA8"/>
            <circle cx="51" cy="7" r="6.5" fill="#471CA8" stroke="#471CA8"/>
            <circle cx="73" cy="7" r="6.5" stroke="#471CA8"/>
            <circle cx="7" cy="7" r="6.5" fill="#471CA8" stroke="#471CA8"/>
        </svg> 
        <button (click)="navigateTo('page-four')">Proximo</button>
    </div>
</div>