<div class="container">
    <button id="pular" (click)="navigateTo('inicio')">Pular ></button>
    <div class="itens">
        <img src="../../assets/images/classificaricon.png" alt="logo">
        <h2>Classifique instituições</h2>
        <p>A qualidade das instituições é fundamental para sua trajetória profissional.</p>
        <p>Aqui, você pode classificar as instituições com as quais interagiu, ajudando a comunidade LinkHer a identificar ambientes de trabalho que promovem a igualdade de gênero e o empoderamento feminino.</p>    
    </div>
    <div class="buttons">
        <button (click)="navigateTo('page-three')">Anterior</button>
        <svg width="80" height="14" viewBox="0 0 80 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="29" cy="7" r="6.5" fill="#471CA8" stroke="#471CA8"/>
            <circle cx="51" cy="7" r="6.5" fill="#471CA8" stroke="#471CA8"/>
            <circle cx="73" cy="7" r="6.5" fill="#471CA8" stroke="#471CA8"/>
            <circle cx="7" cy="7" r="6.5" fill="#471CA8" stroke="#471CA8"/>
        </svg>
        <Button (click)="navigateTo('register')">Começar!</Button>
    </div>
</div>