<div class="container">
    <button id="pular" (click)="navigateTo('inicio')">Pular ></button>
    <div class="itens">
        <img src="../../assets/images/cvicon.png" alt="logo">
        <h2>Personalize seu Currículo</h2>
        <p>Acreditamos no poder de um currículo único, que realmente reflita sua jornada e suas paixões.</p>
        <p>Mostre ao mundo quem você é e o que pode oferecer, para que as oportunidades alinhadas com seus interesses e valores possam encontrar você.</p>
    </div>
    <div class="buttons">
        <button (click)="navigateTo('page-one')">Anterior</button>
        <svg width="80" height="14" viewBox="0 0 80 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="51" cy="7" r="6.5" stroke="#471CA8"/>
            <circle cx="73" cy="7" r="6.5" stroke="#471CA8"/>
            <circle cx="7" cy="7" r="6.5" fill="#471CA8" stroke="#471CA8"/>
            <circle cx="29" cy="7" r="6.5" fill="#471CA8" stroke="#471CA8"/>
        </svg>
        <button (click)="navigateTo('page-three')">Proximo</button>
    </div>
</div>