<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<div class="container">
    <div class="content">
        <img src="../../assets/images/logo.png" alt="logo">

        <p><b>LinkHer</b> é uma plataforma projetada para <b>direcionar e apoiar mulheres</b> das áreas das Ciências Exatas e Engenharias para vagas de emprego, editais de pesquisa e cursos <b>com base no seu perfil</b>.</p>

        <p>Nosso objetivo é manter essas mulheres engajadas e atuantes dentro da sua área, fornecendo um direcionamento inteligente, que irá levar em conta todas as suas informações fornecidas para indicar uma oportunidade que mais se adequa ao seu perfil.</p>
    
        <div class="divider">
            <h3>Funcionalidades</h3>
            <svg width="401" height="2" viewBox="0 0 401 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="8.74228e-08" y1="1" x2="401" y2="1.00004" stroke="#471CA8" stroke-width="2"/>
            </svg>     
        </div>

        <ul>
            <li><b>Monte o seu perfil</b>, que servirá como um currículo. Tente adicionar o máximo de informações e habilidades.</li>
            <li><b>Através das suas informações</b>, você será direcionada as oportunidades que combinarem com o seu perfil.</li>
            <li><b>Amplie suas chances</b> com as oportunidades que estão disponíveis na plataforma.</li>
            <li><b>Classifique</b> empresas e instituições acadêmicas, levante pontos sobre elas que você considera relevantes para outras mulheres.</li>
            <li><b>Colabore</b> com outras mulheres compartilhando vagas e oportunidades interessantes.</li>
        </ul>
    </div>
</div>

