<!-- eslint-disable @angular-eslint/template/elements-content -->
<div class="logo">
    <img src="../../assets/images/logo.png" alt="logo">
    <h2>LinkHer</h2>
</div>

<div class="Inputs">
    <p>Nome:</p>
    <input [(ngModel)]="name" type="text" required>

    <p>Email:</p>
    <input [(ngModel)]="email" type="text" id="email" name="email" required>

    <p>Senha:</p>
    <input [(ngModel)]="password" type="password" required>
    
    <p>Confirmação de Senha:</p>
    <input [(ngModel)]="confirmPassword" type="password" required>
</div>

<p-toast></p-toast>
<button class="button" type="submit" (click)="register()">
    Cadastrar
</button>
